# Logs
logs
*.log
npm-debug.log*

# Node modules & builds
node_modules/
dist/
dist-ssr/
student-portal/node_modules/
student-portal/dist/

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
